*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}


:root {
  --font-primary: 'Amatic SC', cursive, sans-serif;
  --font-secondary: 'Lobster', cursive, sans-serif;

  --color-primary: #777;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(126,213,111,0.8)), to(rgba(40,180,133,0.8))), url("../background-2.jpg");
  background: -webkit-linear-gradient(left top, rgba(126,213,111,0.8), rgba(40,180,133,0.8)), url("../background-2.jpg");
  background: -o-linear-gradient(left top, rgba(126,213,111,0.8), rgba(40,180,133,0.8)), url("../background-2.jpg");
  background: linear-gradient(to right bottom, rgba(126,213,111,0.8), rgba(40,180,133,0.8)), url("../background-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--font-primary);
  color: var(--color-primary);
}

.title {
  margin-top: 2rem;
  text-align: center;
  font-size: 4rem;
}

.calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem;
}

.calendar__day { 
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25rem;
          flex: 0 0 25rem;
  margin-bottom: 2rem;
  height: 20rem;
  -webkit-perspective: 150rem;
  perspective: 150rem;
  border-radius: 3px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  cursor: pointer;
}


.calendar__day:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px)
}

.calendar__side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

.calendar__side--front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  background: rgba(255,255,255,.7);
}

.calendar__side--back {
  display: flex;
    flex-direction: column;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background:rgba(255,255,255,.7);
}

.calendar__date {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-family: var(--font-secondary); 
  font-size: 1.7rem;
}

.calendar__task--title {
  display: inline-block;
  margin-top: 1rem;
  margin-left: 5rem;
  text-align: center;
  font-size: 2rem;
  font-family: var(--font-secondary);
}

.task-counter {
  color: rgba(255, 0, 0, 0.623);
}

.calendar__output {
  padding: 1.5rem;
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  color: var(--color-primary);
}

.calendar__item {
  width: 90%;
  position: relative;
  margin: 1rem 0 0 2rem;
  list-style-type: decimal;
  color: var(--color-primary);
  font-size: 1.5rem;
  font-family: 'Lobster', cursive, sans-serif;
}

.edit__btn {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url('../draw.svg');
  background-repeat: no-repeat;
  border: none;
}

.delete__btn {
  position: absolute;
  top: 50%;
  right: -2.5rem;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background: url('../clear-button.svg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.edit__btn:hover,
.delete__btn:hover {
  cursor: pointer;
}

.btn__add {
  visibility: hidden;
  margin: 2.5rem auto 1rem auto;
  opacity: 0;
  background: darkkhaki;
}

.btn__watch {
  visibility: hidden;
  width: 60%;
  margin: 0 auto;
  opacity: 1;
  background: darkkhaki;
}

.calendar__back-btn {
  margin-left: 1rem;
  margin-top: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  background: url('../go-back-arrow.svg');
  background-size: 100%;
  border: none;
}

.calendar__back-btn:hover {
  cursor: pointer;
}

.calendar__clear-all-btn {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 1rem;
  background: darkkhaki;
}

.calendar__side--front:hover > .btn__add,
.calendar__side--front:hover > .btn__watch {
  visibility: visible;
  opacity: 1;
} 


.calendar__descr {
  margin-top: 1rem;
  font-family: var(--font-secondary);
  font-size: 1.6rem;
  color: var(--color-primary);
  text-align: center;
}


.btn {
  display: block;
  padding: .5rem 1.5rem .7rem 1.5rem;
  border: none;
  border-radius: 100rem;
  font-family: var(--font-primary);
  font-size: 1.7rem;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.btn:hover {
  cursor: pointer;
  background: var(--color-primary);
  color: #fff;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.btn:active {
  background: #808080;
  outline: none;
}

.btn:focus {
  outline: none;
}


/* МОДАЛЬНОЕ ОКНО */
.modal {
  display: none;
  position: fixed;
  width: 150rem;
  max-width: 50rem;
  top: 50%;
  left: 50%;
  padding: 2rem;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 3px;
  background: lightgrey; 
  -webkit-box-shadow: 0 2rem 4rem rgba(0,0,0,0.5); 
          box-shadow: 0 2rem 4rem rgba(0,0,0,0.5);
}

.form__title {
  display: block;
  margin: 0 0 1.5rem 0;
  text-align: center;
  font-family: var(--font-primary);
  font-size: 3rem;
}

.form__group {
  border: none;
}

.form__group:first-of-type {
  margin-bottom: 1.5rem;
}

.form__task {
  display: block;
  padding: 1.5rem 2rem;
  width: 100%;
  font-size: 1.5rem;
  font-family: 'Times', sans-serif;
  border-radius: 3px;
  border: none;
  border-bottom: 3px solid #fff;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  outline: none;
}

.form__task:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.form__task:focus {
  -webkit-box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
          box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
  border-bottom: 3px solid #55c57a;
}

.form__label {
  display: block;
  margin: .7rem 0 0 2rem;
  font-family: var(--font-primary);
  font-size: 1.7rem;
  font-weight: 600;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.form__task:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(10rem);
  -ms-transform: translate(10rem);
      transform: translate(10rem);
}

.modal__btn {
  margin-top: 1.5rem;
  padding: 1rem 5rem;
  font-size: 2rem;
  -webkit-box-shadow: 0 1rem 1rem rgba(0,0,0,0.1);
          box-shadow: 0 1rem 1rem rgba(0,0,0,0.1);
}

.close__btn {
  position: absolute;
  top: 2.5rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.close__btn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.close__btn::before,
.close__btn::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--color-primary);
}

.close__btn::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close__btn::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.fullscreen {
  display: none; 
  position: fixed;
  padding: 1rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50rem;
  height: 50rem;
  background: #fff; 
  -webkit-box-shadow: 0 2rem 4rem rgba(0,0,0,0.5); 
          box-shadow: 0 2rem 4rem rgba(0,0,0,0.5);
  border-radius: 3px;
}

.fullscreen__title {
  display: block;
  margin: 1rem 0 2rem 0;
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
}

.fullscreen__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.fullscreen__close:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.fullscreen__close::before,
.fullscreen__close::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--color-primary);
}

.fullscreen__close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.fullscreen__close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.fullscreen__btn {
  width: 3rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.fullscreen__btn svg {
  width: 100%;
  height: 100%;
}

.fullscreen__btn:hover svg{
  fill: darkkhaki;
}

.fullscreen__btn:focus {
  outline: none;
  border: none;
}

@media (max-width: 1024px) {
  .btn__add,
  .btn__watch {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 530px) {
  .calendar__day {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  
  .calendar__descr {
    width: 100%;
  }

  .btn__add {
    width: 50%;
  }

  .btn__watch {
    width: 60%;
  }

  .fullscreen {
    width: 100vw;
    padding: 0;
  }

  .delete__btn {
    right: 0;
  }

  .edit__btn {
    right: 2rem;
  }

  .modal {
    width: 100vw;
    height: 100vh;
  }
};