*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}


:root {
  --font-primary: 'Amatic SC', cursive, sans-serif;
  --font-secondary: 'Lobster', cursive, sans-serif;

  --color-primary: #777;
}

body {
  box-sizing: border-box;
  background: linear-gradient(to right bottom, rgba(126,213,111,0.8), rgba(40,180,133,0.8)), url("../background-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--font-primary);
  color: var(--color-primary);
}

.title {
  margin-top: 2rem;
  text-align: center;
  font-size: 4rem;
}

.calendar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 0 2rem 4rem;
}

.calendar__day { 
  position: relative;
  margin: 0 2rem 2rem 0;
  min-width: 20rem;
  height: 20rem;
  flex-grow: 1;
  -webkit-perspective: 150rem;
  perspective: 150rem;
  border-radius: 3px;
  transition: all .2s;
  backface-visibility: hidden;
  cursor: pointer;
}

.calendar__day:hover {
  transform: translateY(-2px)
}

.calendar__side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  transition: all 1s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

.calendar__side--front {
  padding: 1rem;
  background: url('../icon-task-3.svg'),rgba(255,255,255,.7);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: 96% 4%;
}

.calendar__side--back {
  transform: rotateY(180deg);
  background:rgba(255,255,255,.7);
}

.calendar__date {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-family: var(--font-secondary); 
  font-size: 1.7rem;
}

.calendar__task--title {
  display: inline-block;
  margin-top: 1rem;
  margin-left: 7rem;
  text-align: center;
  font-size: 2rem;
  font-family: var(--font-secondary);
}

.calendar__task-list {
  padding: 1rem;
  font-family: var(--font-secondary);
  font-size: 2rem;
  color: var(--color-primary);
}

.calendar__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0 0 2rem;
  color: #cdcdcdb9;
  font-size: 1.5rem;
  font-family: 'Lobster', cursive, sans-serif;
}

.calendar__item:hover .edit__btn,
.calendar__item:hover .delete__btn {
  display: block;
}

.edit__btn {
  display: none;
  margin-left: auto;
  width: 1.5rem;
  height: 1.5rem;
  background: url('../draw.svg');
  border: none;
}

.edit__btn:hover,
.delete__btn:hover {
  cursor: pointer;
}

.delete__btn {
  display: none;
  margin-left: .5rem;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  background: url('../clear-button.svg');
  background-size: 100%;
}

.btn__add {
  visibility: hidden;
  margin: 2.5rem auto 1rem auto;
  opacity: 0;
  background: darkkhaki;
}

.btn__watch {
  visibility: hidden;
  margin: 0 auto;
  opacity: 0;
  background: darkkhaki;
}

.calendar__back-btn {
  margin-left: 4rem;
  width: 1.5rem;
  height: 1.5rem;
  background: url('../go-back-arrow.svg');
  background-size: 100%;
  border: none;
}

.calendar__back-btn:hover {
  cursor: pointer;
}

.calendar__clear-all-btn {
  position: absolute;
  left: 6rem;
  bottom: 1rem;
  background: darkkhaki;
}

.calendar__side--front:hover > .btn__add,
.calendar__side--front:hover > .btn__watch {
  visibility: visible;
  opacity: 1;
} 


.calendar__descr {
  margin-top: 1rem;
  font-family: var(--font-secondary);
  font-size: 1.6rem;
  color: var(--color-primary);
  text-align: center;
}


.btn {
  display: block;
  padding: .5rem 1.5rem .7rem 1.5rem;
  border: none;
  border-radius: 100rem;
  font-family: var(--font-primary);
  font-size: 1.7rem;
  transition: all .2s;
}

.btn:hover {
  cursor: pointer;
  background: var(--color-primary);
  color: #fff;
  transition: all .2s;
}

.btn:active {
  background: #808080;
  outline: none;
}

.btn:focus {
  outline: none;
}


/* МОДАЛЬНОЕ ОКНО */
.modal {
  display: none;
  position: absolute;
  width: 150rem;
  max-width: 50rem;
  top: 50%;
  left: 50%;
  padding: 2rem;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  background: lightgrey; 
  box-shadow: 0 2rem 4rem rgba(0,0,0,0.5);
}

.form__title {
  display: block;
  margin: 2rem 0;
  text-align: center;
  font-family: var(--font-primary);
  font-size: 3rem;
}

.form__group {
  border: none;
}

.form__group:first-of-type {
  margin-bottom: 1.5rem;
}

.form__task {
  display: block;
  padding: 1.5rem 2rem;
  width: 100%;
  font-size: 1.5rem;
  font-family: 'Times', sans-serif;
  border-radius: 3px;
  border: none;
  border-bottom: 3px solid #fff;
  transition: all .3s;
  outline: none;
}

.form__task:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.form__task:focus {
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
  border-bottom: 3px solid #55c57a;
}

.form__label {
  display: block;
  margin: .7rem 0 0 2rem;
  font-family: var(--font-primary);
  font-size: 1.7rem;
  font-weight: 600;
  transition: all .3s;
}

.form__task:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(10rem);
  transform: translate(10rem);
}

.modal__btn {
  margin-top: 1.5rem;
  padding: 1rem 5rem;
  font-size: 2rem;
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.1);
}

.close__btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.edit {
  display: none;
  padding: 2rem;
  position: absolute;
  width: 50rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  background: lightgray;
}

.edit__title {
  display: block;
  margin-bottom: 2rem;
  color: var(--color-primary);
  text-align: center;
  font-family: var(--font-secondary);
  font-size: 2.5rem;
  font-weight: 300;
}

.edit__field {
  width: 90%;
  margin: 0 auto;
}

.save__btn {
  margin-left: 2rem;
  font-family: var(--font-primary);
}
